 <div class="education-container container-block">
<h2 class="container-block-title">EDUCATION</h2>
<div class="item">
    <h4 class="degree">Licence Réseaux et Télécommunication</h4>
    <h5 class="meta">ISTV Valenciennes</h5>
    <div class="time">2006 - 2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BTS Administrateur de réseaux locaux</h4>
    <h5 class="meta">Saint Rémi Roubaix</h5>
    <div class="time">2004 - 2006</div>
</div><!--//item-->
</div><!--//education-container-->
