<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>EXPERIENCES</h2>
      <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Run and Devops manager</h3>
              <div class="time">October 2018 - Present</div>
            </div><!--//upper-row-->
          <div class="company">Ercom / Thales, Wework Paris</div>
        </div><!--//meta-->
        <div class="details">
          <p> Run manager of SaaS platforms deployed on (AWS, Azure, OVH, Thales)
            <br> Management of 4 devops
            <br> Choice of technologies to use and architecture definition
            <br> Availability and reliability improvement
            <br> Improvement of delivery processes
            <br> Improvement of development and QA environments
            <br> Technological watch
            <a> Skills: Architecture, Manager, Communication, Security, Kubernetes, Helm, Python, AWS, Azure, OVH, Openstack, Linux, Monitoring, Istio</a>
          </p>				
        </div><!--//details-->
      </div><!--//item-->  
              <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                      <h3 class="job-title">Devops</h3>
                      <div class="time">2017 - 2018</div>
                    </div><!--//upper-row-->
                  <div class="company">ERCOM, Velizy Villacoublay</div>
                </div><!--//meta-->
                <div class="details">
                  <p> Architecture implementation and deployment of ERCOM solutions (SaaS + On Premise)
                    <br> Integration of a supervision system and implementation of on-call procedures
                    <br> Run manager of SaaS platforms AWS and Azure
                    <br> Deployments automation in relation with R&D and QA platforms
                    <br> Technological watch <br>
                    <a> Skills: Architecture, Kubernetes, Helm, Ansible, Python, AWS, Azure, OVH, Openstack, Linux, Monitoring</a>
                  </p>			
		            </div><!--//details-->
              </div><!--//item-->  
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                      <h3 class="job-title">Software support</h3>
                      <div class="time">2015 - 2017</div>
                    </div><!--//upper-row-->
                  <div class="company">ERCOM, Velizy Villacoublay</div>
                </div><!--//meta-->
                <div class="details">
                  <p> Support of applications developed by ERCOM
                    <br> Integration of On Premise solutions
                    <br> Tools creation to facilitate distribution, updates and support <br>
                    <a> Skills: Openstack, HTML, Javascript, Linux, Monitoring, Communication </a>
                  </p>	
		            </div><!--//details-->
              </div><!--//item-->  
              <div class="item">
                <div class="meta">
                  <div class="upper-row">
                    <h3 class="job-title">Technical support</h3>
                    <div class="time">2008 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Bouygues Telecom, Meudon</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Technical support for maintenance teams and supervision center
                        <br> Incident management on the national network <br>
                        <br> Skills: Openstack, HTML, Javascript, Linux, Monitoring, Communication
                    </div><!--//details-->
              </div><!--//item-->
                
  </section><!--//section-->
