<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>EXPERIENCES</h2>
      <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Run and Devops manager</h3>
              <div class="time">October 2018 - Present</div>
            </div><!--//upper-row-->
          <div class="company">Thales, WeWork Paris</div>
        </div><!--//meta-->
        <div class="details">
        <p>Management d'une équipe de devops
        <br>Intégration et formation des membres de l'équipe
        <br>Gestion des coûts
        <br>Maintien en condition opérationnelle des plateformes SaaS (AWS, Azure, OVH, Thales)
        <br>Choix des technologies utilisées sur les infrastructures
        <br>Veille technologique<br>
        <a> Skills: Manager, Architecture, Communication, Security, Kubernetes, Helm, Python, AWS, Azure, OVH, Openstack, Linux, Monitoring, Istio</a>
        </p>				
        </div><!--//details-->
      </div><!--//item-->  
              <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                      <h3 class="job-title">Devops</h3>
                      <div class="time">2017 - 2018</div>
                    </div><!--//upper-row-->
                  <div class="company">ERCOM, Velizy Villacoublay</div>
                </div><!--//meta-->
                <div class="details">
					      <p>Mise en place de l'architecture et déploiement des solutions ERCOM en SaaS et On Premise
					      <br>Intégration de système de supervision et mise en place des procédures d'astreintes
					      <br>Maintien en condition opérationnelle des plateformes SaaS
				        <br>Automatisation des déploiements et gestion des plateformes R&D et QA
				        <br>Veille technologique</p><br>
                <a> Skills: Architecture, Kubernetes, Helm, Ansible, Python, AWS, Azure, OVH, Openstack, Linux, Monitoring</a>	
		            </div><!--//details-->
              </div><!--//item-->  
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                      <h3 class="job-title">Software support</h3>
                      <div class="time">2015 - 2017</div>
                    </div><!--//upper-row-->
                  <div class="company">ERCOM, Velizy Villacoublay</div>
                </div><!--//meta-->
                <div class="details">
					      <p>Support niveau 3 des applications développées par ERCOM
					      <br>Intégration des solutions On Premise
					      <br>Création d'outils pour faciliter la distribution des MAJ et le support</p>	<br>
                <a> Skills: Openstack, HTML, Javascript, Linux, Monitoring, Communication </a>			
		            </div><!--//details-->
              </div><!--//item-->  
              <div class="item">
                <div class="meta">
                  <div class="upper-row">
                    <h3 class="job-title">Support technique</h3>
                    <div class="time">2008 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Bouygues Telecom, Meudon</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Support technique des équipes de maintenance et du centre de supervision
                      <br>Traitement des incidents sur le réseau national<br>
                      <a> Skills: Openstack, HTML, Javascript, Linux, Monitoring, Communication</a>
                    </div><!--//details-->
              </div><!--//item-->
                
  </section><!--//section-->
