<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>EXPERIENCES</h2>
      <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Run and Devops manager</h3>
              <div class="time">October 2018 - Present</div>
            </div><!--//upper-row-->
          <div class="company">Ercom / Thales, Wework Paris</div>
        </div><!--//meta-->
        <div class="details">
          <p> Maintenance in operational condition of SaaS platforms deployed on (AWS, Azure, OVH, Thales)
            <br> Management of 4 devops
            <br> Choice of technologies to use and architecture definition
            <br> Improvement of delivery processes
            <br> Improvement of development and QA environments
            <br> Technological watch
          </p>				
        </div><!--//details-->
      </div><!--//item-->  
              <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                      <h3 class="job-title">Devops</h3>
                      <div class="time">2017 - 2018</div>
                    </div><!--//upper-row-->
                  <div class="company">ERCOM, Velizy Villacoublay</div>
                </div><!--//meta-->
                <div class="details">
                  <p> Architecture implementation and deployment of ERCOM solutions in SaaS and On Premise
                    <br> Integration of a supervision system and implementation of on-call procedures
                    <br> Maintenance in operational condition of SaaS platforms
                    <br> Automation of deployments and management of R&D and QA platforms
                    <br> Technological watch 
                  </p>			
		            </div><!--//details-->
              </div><!--//item-->  
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                      <h3 class="job-title">Software support</h3>
                      <div class="time">2015 - 2017</div>
                    </div><!--//upper-row-->
                  <div class="company">ERCOM, Velizy Villacoublay</div>
                </div><!--//meta-->
                <div class="details">
                  <p> Support of applications developed by ERCOM
                    <br> Integration of On Premise solutions
                    <br> Creation of tools to facilitate distribution of updates and support 
                  </p>	
		            </div><!--//details-->
              </div><!--//item-->  
              <div class="item">
                <div class="meta">
                  <div class="upper-row">
                    <h3 class="job-title">Software support</h3>
                    <div class="time">2013 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Bouygues Telecom, Meudon</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Technical support for maintenance teams and the supervision center
                        <br> Incident handling on the national network
                    </div><!--//details-->
              </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Network technician</h3>
                            <div class="time">2008 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Bouygues Telecom, Lille</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Deployment, curative and preventive maintenance of the mobile network
						          <br>Formations : BSS, NSS, SDH, PTN
                    </div><!--//details-->
                </div><!--//item-->
                
  </section><!--//section-->
