<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projets</h2>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Création de Document d'architecture technique pour les intégrations On-Prem</a></span> -
        <span class="project-tagline">
            <br>  Participation aux réunions de définition d'architecture avec les clients
            <br>  Explication des prérequis nécessaires à l'intégration de notre solution
            <br>  Accompagnement de l'équipe intégration
        </span>
    </div><!--//item-->  
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Automatisation du packaging et de la distribution des charts helm et de la documentation</a></span> -
        <span class="project-tagline">
            <br>  Packaging du helm et distribution de l'application sur un bucket S3 via le CI
            <br>  Déploiement de la documentation sur un bucket S3 via le CI
            <br>  Mise à jour de la documentation de déploiement
            <br>  Mise à disposition de la documentation via cloudfront
        </span>
    </div><!--//item-->  
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Déploiement de Citadel sur K8s sur cloud OVH</a></span> -
        <span class="project-tagline">
            <br>  Modification de l'architecture pour l'adapter au cloud
            <br>  Déploiement de l'application via des charts helm
            <br>  Script d'automatisation de la création des infrastructures en python
        </span>
    </div><!--//item-->  
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Déploiement de Citadel sur K8s sur cloud Thales openstack</a></span> -
        <span class="project-tagline">
            <br>  Automatisation de la création de l'infra via Ansible (VMs, network, disques, firewalls, etc..)
            <br>  Déploiement des clusters kubernets via Ansible et kubeadm
            <br>  Conversion des docker compose en yml kubernetes
            <br>  Adaptation des configurations des µservices pour les rendre compatibles avec kubernetes
        </span>
    </div><!--//item-->  
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Déploiement de cryptobox sur k8s AWS / Azure / OVH</a></span> -
        <span class="project-tagline">
    	    <br>  Automatisation de l'initialisation des plateformes via ansible
            <br>  Création des buckets, base de données, création des secrets stockés dans Vault
            <br>  Création de charts helm pour faciliter la distribution de l'application
        </span>
    </div><!--//item-->   
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Mise en place d'un docker registry Harbor avec docker content trust</a></span> -
        <span class="project-tagline">
    	    <br>  Installation du harbor
            <br>  Création du processus de signature des images via notary
        </span>
    </div><!--//item-->   
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Migration de cryptopass vers AWS</a></span> -
        <span class="project-tagline">
    	    <br>  Définition de l'architecture :
            <br>  Load balancer, EC2, IAM, S3, Route53, RDS, Elasticache, EKS
            <br>  Déploiement du cluster Kubernetes via kubeAWS
            <br>  Evolution de l'infra vers EKS depuis février 2019.
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Déploiement de Cryptopass sur kubernetes openstack / bare-metal OVH</a></span> -
        <span class="project-tagline">
    	    <br>  Définition de l'architecture :
    	    <br>  Dimensionnement des Vms, firewall, création du réseau, plan IP, gestion DNS, gestion des certificats
       		<br>  Installation des serveurs CoreOS (IPs, formatage, clés ssh)
    		<br>  Déploiement du cluster Kubernetes via kubespray
    		<br>  Création et mise à jour des fichiers K8s : déploiement, service, configmap, etc ... 
    	    <br>  Templating et déploiement automatique des microservices via ansible et vault.
    		<br>  Intégration de la supervision : Prometheus, Node exporter, Cadvisor, Grafana, Logstash, Kibana, Elasticsearch, FluentD, FluentBit
    		<br>  Création des systèmes d'alerte et mise en place des procédures de déclenchement de l'astreinte 
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#hook">Portail web sécurisé</a></span> - <span class="project-tagline">Création d'un portail d'authentification avec distribution de Token et mot de passe chiffré en BDD<br>
    																												Serveur : (Nodejs express + création d'un dockerfile pour faciliter le déploiement via Dockerhub)<br>
    																												Client : (HTML, AngularJS)
    																												</span>
    </div><!--//item-->
</section><!--//section-->
