<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projets</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">Portail web sécurisé</a></span> - <span class="project-tagline">Création d'un portail d'authentification avec distribution de Token et mot de passe chiffré en BDD<br>
																																Serveur : (Nodejs express + création d'un dockerfile pour faciliter le déploiement via Dockerhub)<br>
																																Client : (HTML, AngularJS)
																																</span>
                    
                </div><!--//item-->
		<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Déploiement d'un nouveau produit SaaS</a></span> -
                    <span class="project-tagline">Définition de l'architecture : firewall, création Vlan, plan IP, commande des serveurs (Bare Metal Cloud), gestion DNS, commande des certificats<br>
		   				  Installation des serveurs CoreOS, déploiement du cluster Kubernetes<br>
						  Création et mise à jour des fichiers K8s : déploiement, service, configmap, etc ... <br>
						  Intégration de la supervision : Prometheus, Node exporter, Cadvisor, Grafana, Logstash, Kibana, Elasticsearch, FluentD <br>
						  Création des systèmes d'alerte et mise en place des procédures de déclenchement 
 		    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Application Android Gmusic</a></span> - 
                    <span class="project-tagline">Création d'une application permettant de contrôler l'application "Google music desktop pour linux"<br>
												  Application créée en Javascript et HTML (Bootsrap), utilisation de Webview via Phonegap<br>
												  Gestion des websockets, envoi de commande (play, pause etc...) et réception d'informations (temps de lecture, jaquette ...)<br>
												  Application publiée sur le playstore</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Extension Chrome</a></span> - <span class="project-tagline"></span>IHM pour le serveur de téléchargement (information, suppression ou ajout de téléchargement)
																																				<br>Icône d'état de la communication avec le serveur
																																				<br>Lancement d'un téléchargement via clique droit et menu déroulant
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Serveur de téléchargement</a></span> - <span class="project-tagline">Serveur Nodejs dockerisé ouvrant une websocket
																																					<br>Sur réception d'une commande via un client web ou une extension Chrome,
																																					<br>Exécution d'un Script bash encapsulant la commande WGET</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Site web AngularJS</a></span> - <span class="project-tagline">Création du site https://sarlfanchon.fr</span>
                </div><!--//item-->
            </section><!--//section-->
