<section class="skills-section section">
        <h2 class="section-title"><i class="fa fa-rebel"></i>pêle-mêle</h2>
        <div class="item">
                <p"><span class="bold">Kubernetes</span>, bash, html, css, Grafana, kibana, <span class="bold">AWS</span>, <span class="bold">Azure</span>, fluentd, fluentbit, logstash, elasticsearch, <span class="bold">Ansible</span>, prometheus, node exporter, cadvisor,<span class="bold">Docker</span>, gitalb, postgresql, pgpool, mysql, galera, redis, etcd, haproxy, nginx, openssl, letsencrypt, smtp, harbor, vault, dockerhub, github, helm, dns, <span class="bold">Openstack</span></p>                           
        </div><!--//item-->
</section>
