<!-- <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Compétences</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Linux</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Docker &amp; Kubernetes</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Automatisation</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Programation (AngularJS, Nodejs, html, css, js)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                </div> 
</section>//skills-section -->
<section class="skills-section section">
        <h2 class="section-title"><i class="fa fa-rebel"></i>pêle-mêle</h2>
        <div class="item">
                <p">Kubernetes, Docker,Ansible, bash, Grafana, kibana, fluentd, fluentbit, logstash, elasticsearch, prometheus, node exporter, cadvisor, gitalb, postgresql, pgpool, mysql, galera, redis, etcd, haproxy, nginx, ingress, openssl, letsencrypt, smtp, harbor, vault, dockerhub, github, helm, dns, openstack</p>                           
        </div><!--//item-->
</section>
