<section class="skills-section section">
        <h2 class="section-title"><i class="fa fa-rebel"></i>pêle-mêle</h2>
        <div class="item">
                <p">Kubernetes, Docker,Ansible, bash, Grafana, kibana, fluentd, fluentbit, logstash, elasticsearch, prometheus, node exporter, cadvisor, gitalb, postgresql, pgpool, mysql, galera, redis, etcd, haproxy, nginx, ingress, openssl, letsencrypt, smtp, harbor, vault, dockerhub, github, helm, dns, openstack</p>                           
        </div><!--//item-->
</section>
